.App {
  text-align: left;  
 
}

.App-header { 
  color: black;
}

.container {
width: 800px;
 margin: 30px;
 
}
.Description {
  text-transform: capitalize;
}
ul {
  list-style: none;
  text-align: justify;
  margin-left: 0;
  padding-left: 0;
}
button {
  margin: 2px;
}
.Open {
text-decoration: none;
color: blueviolet;
margin: 30px;
}
.Open:hover {
  text-decoration: underline;
  color:blueviolet;
}
.dateTime {
  font-size: 15px;
}

.weatherCity {
  font-size: 20px;
}

.imagine {
  width: 60px;
}
.temp {
  margin-top: 50px;
}

.Open{
  margin: 0 0 0 0;
}
